body {
	background-color:white;
	background-image:url(../images/main-bg.png);
	background-repeat:repeat;
}
img {
	border:none;
}
#wrapper {
	width:750px;
	height:550px;
	margin:0 auto;
	position:relative;
	background-color:grey;
	overflow:hidden;
	background-image:url(../images/bg.png);
	background-repeat:no-repeat;
	z-index:0;
		-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
#splash {
	position:absolute;
	width:750px;
	height:550px;
	background-color:#0009ac;
	z-index:400;
	opacity:1;
}
#splash h1 {
	text-align:center;
	padding:0px;
	margin:200px 0px 0px 0px;
	color:white;
}
#splash #start {
	height: 322px;
	width: 660px;
	display:inline-block;
	position:relative;
	left:45px;
	top:115px;
	border: 5px solid white;
	display:none;
	cursor:pointer;
	padding:0px;
	background-color:white;
}
#splash #start img{
	padding:0px;
	margin:0px;
	position:relative;
	border:none;
}

.snowflakes {
	top:0px;
	left:0px;
	position:absolute;
	z-index:200;
	width: 20px; 
	height: 20px;
	background-position:0px 0px;
	background-repeat:no-repeat;
}

#loading {
	position:absolute;
	top:250px;
	left:340px;
}

/* Objects */

#water {
	top:250px;
	z-index:0;
	opacity:0;
}
#skyline {
	top:250px;
	z-index:-1;
	opacity:0;
}
#street {
	top: 445px;
	z-index: 5;
	opacity: 0;
}
#snow {
	top:600px;
	left:0px;
	z-index:5;
}

#snow1 {
	top:383px;
	left:480px;
	z-index:5;
	opacity:0;
	width:0;
	height:0;
}
#snow2 {
	top:372px;
	left:268px;
	z-index:5;
	opacity:0;
	width:0;
	height:0;
}
#snow3 {
	top: 389px;
	right: 0px;
	z-index: 5;
	opacity:0;
	width:0;
	height:0;
}
#snow4 {
	top:408px;
	left:36px;
	z-index: 5;
	opacity:0;
	width:0;
	height:0;
}
#snow5 {
	top: 350px;
	left:0px;
	z-index: 5;
	opacity:0;
	width:0;
	height:0;
}
#snow6 {
	top: 383px;
	left: 0px;
	z-index: 5;
	opacity:0;
	width:0;
	height:0;
}


.object {
	position:absolute;
}

#small_tree {
	top: 210px;
	left: 638px;
	z-index:10;
}
#large_tree_silhouette {
	top: 15px;
	left: 185px;
	z-index: 10;
}

#left_brownstone {
	top:110px;
	left:-200px;
	z-index:20;
	opacity:0;
	display:none;
}
#right_brownstone {
	top:110px;
	left:-200px;
	z-index:20;
	opacity:0;
	display:none;
}

#large_tree_cutoff {
	bottom:-377px;
	right:0px;
	z-index:80;
	display:none;
	opacity:0;
}
#medium_tree {
	top: 822px;
	left: -40px;
	z-index: 100;
	display:none;
	opacity:0;
}
#small_streetLight {
	top: 300px;
	left: 300px;
	z-index: 16;
	display:none;
	opacity: 0;
	
}
#large_streetLight {
	top: 223px;
	left: 570px;
	z-index:100;
}
#snow_pile {
	top: 446px;
	left: 43px;
	z-index: 40;
	display:none;
}
#footer {
	position:absolute;
	top:600px;
	left:0px;
	z-index:200;
	display:none;
}
#instructions {
	position:absolute;
	top:0px;
	left:0px;
}

#play-again {
	position:absolute;
	left:600px;
	top:-8px;
	padding: 0px;
	margin:0px;
	border: none;
	background-color: transparent;
	cursor: pointer;
	width:144px;
	height:50px;
}
#seasons-greetings {
	position: absolute;
	top: -10px;
	left: 285px;
	display:none;
}
/* Windows
================================================================================================= */
#windows {
	list-style: none;
	margin: 0px;
	position: absolute;
	top: 212px;
	left: 29px;
	width: 302px;
	height: 220px;
	z-index: 200;
	padding: 0px;
	display:none;
}
li.window {
	width:30px;
	height:62px;
	position:absolute;
	z-index:110;
}
li.window button {
	width:30px;
	height:62px;
	display:block;
	background-image:url('../images/spriteExample.png');
	background-repeat:no-repeat;
	background-position: 0px 0px;
	padding:0px;
	border:none;
	background-color:transparent;
	cursor:pointer;
}
li.window button:hover {
	width:30px;
	height:62px;
	display:block;
	background-image:url('../images/spriteExample.png');
	background-repeat:no-repeat;
	background-position: 0px -62px;
}
button {
padding:0px;
	border:none;
	background-color:transparent;
	cursor:pointer;
}
.light-up {
	width:30px;
	height:62px;
	display:block;
	background-image:url('../images/spriteExample.png')!important;
	background-repeat:no-repeat;
	background-position: 0px -62px!important;;
}

#one			{top: 1px;left: -2px;}
#two			{top: 1px;left: 46px;}
#three			{top: 1px;left: 94px;}
#four			{top: 1px;left: 176px;}
#five			{top: 1px;left: 224px;}
#six			{top: 1px;left: 271px;}
#seven			{top: 78px;left: 46px;}
#eight			{top: 78px;left: 94px;}
#nine			{top: 78px;left: 176px;}
#ten			{top: 78px;left: 224px;}
#eleven			{top: 78px;left: 271px;}
#twelve			{top: 156px;left: 46px;}
#thirteen		{top: 156px;left: 175px;}
#fourteen		{top: 156px;left: 224px;}

/* Snowman
================================================================================================= */
#snowman {top: 10px;left: -100px;cursor:pointer;display:none;z-index:15;}
#snowman > img 	{ z-index:100;}

/* Broken 
#hat 			{top: 452px;left: 500px;}
#head 			{top: 415px;left: 500px;}
#nose 			{top: 441px;left: 433px;}
#left_eye		{top: 440px;left: 463px;}
#right_eye		{top: 443px;left: 472px;}
#smile			{top: 444px;left: 421px;}
#scarf			{top: 470px;left: 545px;}
#body			{top: 377px;left: 440px;}
#button_1		{top: 449px;left: 449px;}
#button_2		{top: 450px;left: 458px;}
#button_3		{top: 450px;left: 468px;}
#button_4		{top: 451px;left: 474px;}
#left_arm		{top: 462px;left: 474px;}
#right_arm		{top: 470px;left: 585px;}
*/

/* Fixed */
#hat 			{top: 333px;left: 425px;}
#head 			{top: 352px;left: 428px;}
#nose 			{top: 367px;left: 439px;}
#left_eye		{top: 363px;left: 436px;}
#right_eye		{top: 363px;left: 447px;}
#smile			{top: 366px;left: 435px;}
#scarf			{top: 376px;left: 431px;}
#body			{top: 377px;left: 416px;}
#button_1		{top: 390px;left: 440px;}
#button_2		{top: 399px;left: 440px;}
#button_3		{top: 409px;left: 440px;}
#button_4		{top: 419px;left: 440px;}
#left_arm		{top: 359px;left: 413px;}
#right_arm		{top: 379px;left: 463px;}


/* Sky
================================================================================================= */
#sky			{position:relative;display:none;opacity:0;}
.star			{position:absolute;z-index:1;opacity:1;}
#moon			{top:26px;left:56px;z-index:190;}

#star_1			{left:29px;top:25px;}
#star_2			{left:33px;top:70px;}
#star_3			{left:47px;top:104px;}
#star_4			{left:78px;top:106px;}
#star_5			{left:106px;top:16px;}
#star_6			{left:119px;top:53px;}
#star_7			{left:157px;top:11px;}
#star_8			{left:197px;top:7px;}
#star_9			{left:191px;top:75px;}
#star_10		{left:197px;top:9px;}
#star_11		{left:236px;top:60px;}
#star_12		{left:272px;top:13px;}
#star_13		{left:271px;top:97px;}
#star_14		{left:314px;top:46px;}
#star_15		{left:345px;top:23px;}
#star_16		{left:301px;top:59px;}
#star_17		{left:365px;top:57px;}
#star_18		{left:360px;top:92px;}
#star_19		{left:378px;top:116px;}
#star_20		{left:408px;top:62px;}
#star_21		{left:392px;top:28px;}
#star_22		{left:400px;top:155px;}
#star_23		{left:434px;top:155px;}
#star_24		{left:505px;top:140px;}
#star_25		{left:488px;top:76px;}
#star_26		{left:505px;top:18px;}
#star_27		{left:549px;top:13px;}
#star_28		{left:540px;top:70px;}
#star_29		{left:534px;top:131px;}
#star_30		{left:558px;top:113px;}
#star_31		{left:587px;top:114px;}
#star_32		{left:588px;top:85px;}
#star_33		{left:583px;top:51px;}
#star_34		{left:632px;top:74px;}
#star_35		{left:605px;top:29px;}
#star_36		{left:546px;top:116px;}
#star_37		{left:736px;top:128px;}
#star_38		{left:711px;top:102px;}
#star_39		{left:716px;top:69px;}
#star_40		{left:717px;top:36px;}
#star_41		{left:728px;top:7px;}
#star_42		{left:702px;top:9px;}
#star_43		{left:640px;top:29px;}
#star_44		{left:608px;top:35px;}
#star_45		{left:641px;top:7px;}

/* Ice Skater
================================================================================================= */
#ice_skater {
	background-image:url('../images/ice_skate_path.png');
	background-position:0px 140px;
	background-repeat:no-repeat;
	width:200px;
	height:200px;
	top:140px;
	left:450px;
	z-index:70;
	display:none;
	opacity:0;
}
#skater {
	position: absolute;
	top: 111px;
	left: 300px;
	cursor:pointer;
	width:96px;
	height:70px;
	background-image:url('../images/ice_skater.png');
	background-position:0px 0px;
	background-repeat:no-repeat;
	display:none;
	opacity:0;
}

.skater-switch {
	position: absolute;
	background-image:url('../images/ice_skater.png');
	background-position:0px -70px!important;
	background-repeat:no-repeat;
}

/* Player 
================================================================================================= */
#player_container {
	position:absolute;
	top:135px;
	left:350px;
	width:380px;
	height:300px;
	z-index:300;
	display:none;
	opacity:0;
	box-shadow: 3px 3px 16px 13px rgba(0,0,0, .7);
	-webkit-box-shadow: 3px 3px 16px 13px rgba(0,0,0, .7);
	-moz-box-shadow: 3px 3px 16px 13px rgba(0,0,0, .7);
	
}
#player {
	position:relative;
	width:380px;
	height:300px;
	overflow:hidden;
	background-color:white;
	border:4px solid #CECECE;
}

ul#slide_container {
	margin:0px;
	padding:0px;
	list-style:none;
	position:relative;
	top:0px;
	left:0px;

}

ul#slide_container li.slide {
	background-color:white;
	width:380px;
	height:300px;
	padding:0px;
	margin:0px;
}
ul#slide_container li.slide h1 {
	padding:0px 0px 0px 0px;
	margin:0px;
	font-size:18px;
	text-align:center;
	font-family:Comic Sans, Comic Sans MS, Helvetica, Arial;
	color:#5B0F96;
}
div#close {
	width: 15px;
	border-radius: 3px;
	padding: 1px;
	background-color:white;
	position: absolute;
	top: -5px;
	right: -15px;
	z-index: 300;
	border: 1px solid black;
}
div#close button {
	text-align: center;
	position:relative;
	display:block;
	padding:0px 0px 0px 4px;
	margin:0px;
	font-family:Comic Sans, Comic Sans MS, Helvetica, Arial;
	color:#5B0F96;
	text-decoration:none;
	font-size:10px;
	font-weight:bold;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}

