body{
	display:none;
}
#jpreOverlay {background-color: #2e1c4c;}
#jpreSlide {
font-size: 22px;
font-weight: bold;
color: #ccc;
text-align: center;
width: 650px!important;
height: 320px!important;
position: relative!important;
top: 0px!important;
left: 0px!important;
margin: 50px auto 0px;
}
#jpreLoader {
width: 300px;
height: 25px;
box-shadow: 0 0 7px 3px #fff;
-moz-box-shadow: 0 0 7px 3px #fff;
-webkit-box-shadow: 0 0 7px 3px #fff;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
position: relative!important;
top: 0px!important;
left: 0px!important;
margin: 10px auto 0px;
}
#jpreBar {
border-radius:25px;
-moz-border-radius:25px;
-webkit-border-radius:25px;
background-size:30px 30px;
-moz-background-size:30px 30px;
-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;
	
	box-shadow:
      0 5px 5px rgba(255,255,255,0.6) inset,
      0 -5px 7px rgba(0, 0, 0, 0.4) inset;
   -moz-box-shadow:
      0 5px 5px rgba(255,255,255,0.6) inset,
      0 -5px 7px rgba(0, 0, 0, 0.4) inset;
   -webkit-box-shadow:
      0 5px 5px rgba(255,255,255,0.6) inset,
      0 -5px 7px rgba(0, 0, 0, 0.4) inset;
   filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr='#33ffffff',
      endColorstr='#33000000',
      GradientType=0 );

	background-color:#619ad1;
	background-image: -moz-linear-gradient(-45deg, 
		rgba(255,255,255,0.15) 0%, 
		rgba(255,255,255,0.15) 25%, 
		rgba(255,255,255,0) 25%, 
		rgba(255,255,255,0) 50%, 
		rgba(255,255,255,0.15) 50%, 
		rgba(255,255,255,0.15) 75%, 
		rgba(255,255,255,0) 75%, 
		rgba(255,255,255,0) 100%);
	background-image: -webkit-gradient(linear, left top, right bottom, 
		color-stop(0%,rgba(255,255,255,0.2)), 
		color-stop(25%,rgba(255,255,255,0.2)), 
		color-stop(25%,rgba(255,255,255,0)), 
		color-stop(50%,rgba(255,255,255,0)), 
		color-stop(50%,rgba(255,255,255,0.2)), 
		color-stop(75%,rgba(255,255,255,0.2)),
		color-stop(75%,rgba(255,255,255,0)),
		color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(-45deg, 
		rgba(255,255,255,0.3) 0%,
		rgba(255,255,255,0.3) 25%,
		rgba(255,255,255,0) 25%,
		rgba(255,255,255,0) 50%,
		rgba(255,255,255,0.3) 50%,
		rgba(255,255,255,0.3) 75%,
		rgba(255,255,255,0) 75%,
		rgba(255,255,255,0) 100%);
	background-image: -o-linear-gradient(-45deg, 
		rgba(255,255,255,0.15) 0%,
		rgba(255,255,255,0.15) 25%,
		rgba(255,255,255,0) 25%,
		rgba(255,255,255,0) 50%,
		rgba(255,255,255,0.15) 50%,
		rgba(255,255,255,0.15) 75%,
		rgba(255,255,255,0) 75%,
		rgba(255,255,255,0) 100%);
	background-image: -ms-linear-gradient(-45deg, 
		rgba(255,255,255,0.15) 0%,
		rgba(255,255,255,0.15) 25%,
		rgba(255,255,255,0) 25%,
		rgba(255,255,255,0) 50%,
		rgba(255,255,255,0.15) 50%,
		rgba(255,255,255,0.15) 75%,
		rgba(255,255,255,0) 75%,
		rgba(255,255,255,0) 100%);
	background-image: linear-gradient(135deg, 
		rgba(255,255,255,0.15) 0%,
		rgba(255,255,255,0.15) 25%,
		rgba(255,255,255,0) 25%,
		rgba(255,255,255,0) 50%,
		rgba(255,255,255,0.15) 50%,
		rgba(255,255,255,0.15) 75%,
		rgba(255,255,255,0) 75%,
		rgba(255,255,255,0) 100%);
		
	animation: progress 2s linear infinite;
	-moz-animation: progress 2s linear infinite;
	-webkit-animation: progress 2s linear infinite;
	-ms-animation: progress 2s linear infinite;
	-o-animation: progress 2s linear infinite;	
}
#jprePercentage {
	color:#fff;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight:bold;
	text-align:center;
	text-shadow:1px 1px 1px #333;
	top:-100%;
}

#jpreButton{
	padding:3px 10px;
	cursor:pointer;
	font-weight:bold;
	line-height:1.5;
	text-align:center;
	width:100px;
	margin:0 auto;
	color:#fff;
	text-shadow:-1px -1px 0 #060a2d;
	border:1px solid #060a2d;
	font-family:arial!important;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;	
	background-color: #0f1232;
	background-image: -moz-linear-gradient(top, #0f1232 0%, #1a2146 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f1232), color-stop(100%,#1a2146));
	background-image: -webkit-linear-gradient(top, #0f1232 0%,#1a2146 100%);
	background-image: -o-linear-gradient(top, #0f1232 0%,#1a2146 100%);
	background-image: -ms-linear-gradient(top, #0f1232 0%,#1a2146 100%);
	background-image: linear-gradient(to bottom, #0f1232 0%,#1a2146 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1232', endColorstr='#1a2146',GradientType=0 );
}

@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-ms-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-o-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
