/* Global */
body{background-color: #2e1c4c;}
#card {
position: relative;
width: 800px;
margin: 0 auto;
}
.container {
position: relative;
width: 800px;
height: 600px;
margin: 0 auto;
overflow:hidden;
-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
-o-box-shadow: 0 8px 6px -6px black;
-ms-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;
}
.container .graphic {
position:absolute;
}
.container .img {
position:absolute;
width:100%;
height:100%;
}
.button {
position: relative;
width: 800px;
margin: 0 auto;
}
.reload {
position: absolute;
width: 144px;
height: 50px;
display: block;
background-image: url(../images/replay-button.png);
background-repeat: no-repeat;
background-position: 0px 0px;
bottom: 5px;
right: 5px;
}
#snowZone {
width:800px;
height:600px;
position:absolute;
}
#starZone{
width:800px;
height:600px;
position:absolute;
}
.stars {
position: absolute;
width: 1px;
height: 1px;
background-color: white;
z-index:100;
opacity:.5;
display:none;
}
#star1 {top: 10px;left: 10px;}
#star2 {top: 102px;left: 500px;}
#star3 {top: 20px;left: 772px;}
#star4 {top: 52px;left: 242px;}
#star5 {top: 39px;left: 150px;}
#star6 {top: 5px;left: 400px;}
#star7 {top: 121px;left: 674px;}
#star8 {top: 99px;left: 375px;}
#star9 {top: 91px;left: 766px;}
#star10 {top: 2px;left: 264px;}

.ending{display:none;}
.snowflakes {
	top:0px;
	left:0px;
	position:absolute;
	z-index:200;
	width: 20px; 
	height: 20px;
	background-position:0px 0px;
	background-repeat:no-repeat;
	z-index:999999;
}

/* Interaction */
.interaction {
	position: absolute;
	width: 800px;
	height: 600px;
	z-index:900;
}
/* First State */
.container .canvas {
	position: relative;
	width:4000px;
	height:3000px;
	top: -780px;
	left: -3060px;
}

/* Background */
.container .background {
	width:4000px;
	height:3000px;
	top: 0px;
	left: 0px;
	z-index:10;
}
.container .background .reg {opacity:1;}

/* Background Final*/
.container .background-final {
	width:800px;
	height:600px;
	top: 0px;
	left: 0px;
	z-index:9;
}
.container .background-final .reg {opacity:1;}

/* Tree-Front-Left */
.container .tree-front-left {
	width:1500px;
	height:2400px;
	top: 890px;
	left: 101px;
	z-index:12;
}
.container .tree-front-left .reg {opacity:1;}
/* Tree-Front-Right */
.container .tree-front-right {
	width:1500px;
	height:2300px;
	top: 1310px;
	left:2000px;
	z-index:12;
}
.container .tree-front-right .reg {opacity:1;}
/* Tree-Mid */
.container .tree-mid {
	width:1000px;
	height:1500px;
	top: 600px;
	left: 800px;
	z-index:12;
}
.container .tree-mid .reg {opacity:1;}
.container .tree-mid .dark {opacity:1;}
.finished-trees {
	position:absolute;
	z-index:10;
	top:0px;
	left:0px;
	width:800px;
	height:600px;
	display:none;
}
.container .finished-trees #tree-mid-final {
	opacity:1;
	top:120px;
	left:76px;
	width:200px;
	height:300px;
}
.container .finished-trees #tree-left-final {
	opacity:1;
	top:178px;
	left:-136px;
	width:300px;
	height:480px;
}
.container .finished-trees #tree-right-final {
	opacity:1;
	top:262px;
	left:650px;
	width:300px;
	height:460px;
}
/* Moon */
.container .moon {
	width:110px;
	height:140px;
	top: 100px;
	left: 1000px;
	z-index:200;
}

/* Smoke */
.container .smoke {
	width:20px;
	height:30px;
	top: 130px;
	left: 700px;
	background-image:url("../images/smoke.png");
	background-repeat:no-repeat;
	background-position:0px 0px;
	position:absolute;
	z-index:100;
}
/* Message */
.message {
	position: absolute;
	top: 20px;
	left: 408px;
}
.instructions {
	position: absolute;
	top: 540px;
	left: 230px;
}
/* Cards */
.card-player {
	position: absolute;
	width: 360px;
	height: 270px;
	border: 2px solid #ccc;
	top: 20px;
	left: 20px;
	background-color:white;
	display:none;
	text-align:center;
}
.card-player-wrapper {position:relative;}
.cards {position:absolute;top:0px;left:0px;z-index:200;display:none;}
.card-player span {
	font-size:16px;
	font-family:Comic Sans, Comic Sans MS, Helvetica, Arial;
	color:#5B0F96;
	text-decoration:none;
	font-weight:bold;
}